<li class="events__item">
  <%= link_to "events/#{event.group.urlname}/#{event.id}", class: "event" do %>
    <%= time_tag event.time, class: "event__date" do %>
      <span class="event__day"><%= event.day %></span>
      <span class="event__month"><%= event.month %></span>
      <span class="event__year"><%= event.year %></span>
    <% end %>

    <span class="event__info">
      <span class="event__name"><%= event.name %></span>

      <% unless event.venue.nil? %>
        <span class="event__venue">
          <%= event.venue.name %>,
          <%= event.venue.city %>
        </span>
      <% end%>
    </span>
  <% end %>
</li>
