<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width">

    <title>Randsome Meetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:600,700">

  </head>

  <body>
    <%= yield %>

    <%= render 'shared/gh-corner' %>
  </body>
</html>
